# -*- coding: utf-8 -*-
# vim:fenc=utf-8 ff=unix

# git system files
.gitconfig     eol=lf
.gitconfig.*   eol=lf
.gitattributes eol=lf
.gitmodules    eol=lf
# .gitignore     eol=lf
# gitignore contains Icon^M <- CRLF end
# skip formatcheck
.gitignore     binary

*.sh           text eol=lf

# EOF
