name: Test
on:
  push:
    branches:
      - master
  pull_request:
permissions:
  pull-requests: write

jobs:
  test-check:
    name: runner / textlint (github-check)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
      - name: textlint-github-check
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          textlint_flags: "doc/**"

  test-pr-check-npm:
    if: github.event_name == 'pull_request'
    name: runner / textlint (github-pr-check, npm)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
      - name: textlint-github-check
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          package_manager: npm
          textlint_flags: "doc/**"

  test-pr-check-yarn:
    if: github.event_name == 'pull_request'
    name: runner / textlint (github-pr-check, yarn)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
      - name: textlint-github-check
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          package_manager: yarn
          reporter: github-pr-check
          textlint_flags: "doc/**"

  test-pr-check-pnpm:
    if: github.event_name == 'pull_request'
    name: runner / textlint (github-pr-check, pnpm)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest
      - name: textlint-github-check
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          package_manager: pnpm
          reporter: github-pr-check
          textlint_flags: "doc/**"

  test-pr-check-bun:
    if: github.event_name == 'pull_request'
    name: runner / textlint (github-pr-check, bun)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
      - name: Setup bun
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
        with:
          bun-version: latest
      - name: textlint-github-check
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          package_manager: bun
          reporter: github-pr-check
          textlint_flags: "doc/**"

  test-pr-review:
    if: github.event_name == 'pull_request'
    name: runner / textlint (github-pr-review)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
      - name: textlint-github-pr-review
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          textlint_flags: "doc/**"
